@import '../../variables.scss';


.timer-wrapper {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .digits {
        font-size: 3rem;
    }
}

.timer {
    display: block;
    width: 126px;
    margin-top: 1rem;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.message-overflow {
    color: #fff;
    font-weight: 300;
    font-size: 1.3em;
}