@import '../../variables.scss';

.form-validation {

    input {
        width: calc(100% - 40px);
        border: 0;
        line-height: 1.5rem;
        padding: 16px 20px;
        font-size: 1.1em;
        background: #E0EDF4;
        color: $themecolor;
        margin-bottom: 2px;

        &:first-of-type {
            border-radius: $themeBorderRadius $themeBorderRadius 0 0;
            -webkit-border-radius: $themeBorderRadius $themeBorderRadius 0 0;
            -moz-border-radius: $themeBorderRadius $themeBorderRadius 0 0;
            -ms-border-radius: $themeBorderRadius $themeBorderRadius 0 0;
            -o-border-radius: $themeBorderRadius $themeBorderRadius 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
            -webkit-border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
            -moz-border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
            -ms-border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
            -o-border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
        }
    }

    span.warn {
        display: block;
        color: red;
        font-size: 0.85em;

    }
}

.formPrint {
    width: calc(100% - 40px);
    background: #fff;
    margin-top: 3rem;
    border-radius: $themeBorderRadius;
    -webkit-border-radius: $themeBorderRadius;
    -moz-border-radius: $themeBorderRadius;
    -ms-border-radius: $themeBorderRadius;
    -o-border-radius: $themeBorderRadius;
    opacity: 0;
    transition: 1s;

    li>strong {
        color: $themecolorBlue;
        font-weight: 300;
        padding-right: 0.5rem;
        font-size: 110%;
    }

    p {
        font-size: 1em;
    }
}

.formPrint.show {
    opacity: 1;
}