@import '../../variables.scss';

.game-section {
  .game-square {
    background: $themecolorLightgrey;
    width: 600px;
    height: 400px;
    position: relative;
    margin-bottom: 8rem;
    border-radius: 3px;
    .kitten {
      cursor: pointer;
      position: absolute;
      padding: 3px;
    }
  }
  .start-btn {
    margin: 2rem 0;
  }
  .counter,
  .points {
    color: #fff;
    span {
      font-size: 2em;
      padding-left: 0.5rem;
      color: $themecolorPink;
    }
  }
  .counter span {
    color: #fff;
  }
}
