@import '../../variables.scss';

.scramble-section {
    .message {
        float: none;
    }
}

.scrambleText {
    color: #fff;
    height: 150px;

    @media all and (min-width: $sm-min) {
        height: 130px;
    }

    @media all and (min-width: $xl-min) {
        height: 115px;
    }
}

.animalBtns {
    height: 80px;
}

.scrambleBtns {
    .button {
        margin-bottom: 1rem;
    }
}

.btn {
    box-shadow: $themeBoxShadow;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    transition: 1s;
    text-transform: uppercase;
    border-radius: $themeBorderRadius;
    -webkit-border-radius: $themeBorderRadius;
    -moz-border-radius: $themeBorderRadius;
    -ms-border-radius: $themeBorderRadius;
    -o-border-radius: $themeBorderRadius;
    color: #fff;
}

//btn classes
.btn.pink {
    background: $themecolorPink;
}

.btn.dark-blue {
    background: $themecolorBlueDarkest;
}

.btn.yellow {
    background: $themecolorYellow;
}

#small {
    padding: 8px 14px;
}

//btn id:s
#big {
    box-shadow: $themeBoxShadow;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    transition: 1s;
    text-transform: uppercase;
    border-radius: $themeBorderRadius;
    -webkit-border-radius: $themeBorderRadius;
    -moz-border-radius: $themeBorderRadius;
    -ms-border-radius: $themeBorderRadius;
    -o-border-radius: $themeBorderRadius;
    padding: 12px 18px;
}

#bigger {
    box-shadow: $themeBoxShadow;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    transition: 1s;
    text-transform: uppercase;
    border-radius: $themeBorderRadius;
    -webkit-border-radius: $themeBorderRadius;
    -moz-border-radius: $themeBorderRadius;
    -ms-border-radius: $themeBorderRadius;
    -o-border-radius: $themeBorderRadius;
    padding: 16px 22px;
}