@import '../../variables.scss';

.table-section {
  .tableAnimals {
    padding-bottom: 10rem;
    p {
      color: #fff;
    }
  }
  .nav.nav-pills {
    background: #fff;
    margin: 3rem 0;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    .nav-item {
      width: 20%;

      .nav-link {
        border: 1px solid #ddd;
        //border-radius: 0.25rem;
        height: 100%;
        @media all and (max-width: $sm-max) {
          font-size: 0.85em;
        }
      }

      .nav-link.active {
        border: 1px solid #007bff;
      }
    }
  }

  #animalTable {
    tr {
      border-bottom: 1px solid #ddd;
    }
    th {
      color: #fff;
      cursor: pointer;
      //text-transform: uppercase;
      border-top: none;
      border-bottom: 1px solid #ddd;
      font-size: 0.95em;
      @media all and (max-width: $sm-max) {
        font-size: 0.85em;
      }
      .fa {
        margin-left: 0.3rem;
        display: inline;
      }
    }
    td {
      color: #fff;
      border-top: 1px solid #ddd;
      font-size: 0.95em;
      @media all and (max-width: $sm-max) {
        font-size: 0.85em;
        .fa.fa-heart {
          @media all and (max-width: $xs-max) {
            display: none;
          }
        }
        .fa.fa-heart-o {
          @media all and (max-width: $xs-max) {
            display: none;
          }
        }
        .btn {
          @media all and (max-width: $xs-max) {
            display: none;
          }
        }
      }
    }
    button {
      font-size: 0.8em;
    }
    img {
      display: block;
      margin-right: 0;
      max-width: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      @media all and (max-width: $xs-max) {
        display: none;
      }
    }

    .pagination {
      padding-bottom: 2rem;
    }
  }

  .page-link {
    //background-color: #a4d4f4;
    //color: #fff !important;
  }

  .page-item.active {
    .page-link {
      color: #fff !important;
    }
  }
}
